@import '../utils/main.utils.scss';
.header {
    .container {
        @include flex(row, space-between, center);
    }
}

.datetime {
    @include flex(row, null, center);
}

.datatime-item {
    margin: 0 9px;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    background-color: #302E5A;
    @include flex(row, center, center);
    .datatime-text {
        margin-left: 6px;
        cursor: default;
        @include font(14px, 600, 14px, $COLOR__WHITE);
    }
}

@media screen and (max-width: 700px) {
    .logo-wrapp {
        svg {
            width: 101px;
            height: 32px;
        }
    }
    .datatime-item {
        width: 88px;
        height: 24px;
        border-radius: 8px;
        img {
            width: 12px;
            height: 12px;
        }
        .datatime-text {
            margin-left: 4px;
            @include font(11px, 600, 8px, $COLOR__WHITE);
        }
    }
}