include ../utils/mixin.pug
a(href="#").logo-wrapp
    include ../../img/logo.svg
.datetime
    +datatime('../../img/icons/calendar.svg', 'calendar', '28 декабря')
    +datatime('../../img/icons/time.svg', 'time', '3,5 часа')