include ../utils/mixin.pug
a(href="#").logo-wrapp
    include ../../img/logo.svg
.datetime
    +datatime('datatime-text__date', '../../img/icons/calendar.svg', 'calendar', '00 декабря')
    +datatime('datatime-text__time', '../../img/icons/time.svg', 'time', '00 часа')