include ../utils/mixin.pug

+icon({
    className: 'html',
    imgSrc: '../../img/html.webp',
    imgAlt: 'html',
})

+icon({
    className: 'css',
    imgSrc: '../../img/css.webp',
    imgAlt: 'css',
})

+icon({
    className: 'js',
    imgSrc: '../../img/javascript.webp',
    imgAlt: 'js',
})

+icon({
    className: 'sublime',
    imgSrc: '../../img/sublime.webp',
    imgAlt: 'sublime',
})

+icon({
    className: 'vs',
    imgSrc: '../../img/vs.webp',
    imgAlt: 'vs',
})
    