include ../utils/mixin.pug

.mobile-content-info-list
    ul.content-info-list
        +info({
            imgSrc: '../../img/present.webp',
            imgAlt: 'present',
            title: 'Бонус за регистрацию',
            text: 'PDF-файл "5 преимуществ профессии фронтенд разработчика"'
        })
        +info({
            imgSrc: '../../img/photo.webp',
            imgAlt: 'photo',
            title:  'Кирилл <span>КАСАТОНОВ</span>',
            text: '6 лет коммерческого опыта с такими  компаниями как Mercedes-Benz и другими крупными корпорациями'
        })