#modal-wrapper
    .container
        h2.modal-title Политика конфиденциальности сайта:
        .modal-text-content
            p Добро пожаловать на наш сайт! Ваша конфиденциальность очень важна для нас, и мы стремимся обеспечить защиту ваших личных данных. Ниже представлены основные моменты нашей политики конфиденциальности:
            ul.modal-list
                li.modal-item Сбор информации: Мы можем собирать личную информацию, такую как имя, адрес электронной почты и контактные данные, когда вы заполняете формы на нашем сайте.
                li.modal-item Использование информации: Мы используем предоставленные вами данные для предоставления запрошенных услуг, отправки информационных материалов и улучшения работы нашего сайта.
                li.modal-item Хранение данных: Мы предпринимаем все необходимые меры для защиты ваших личных данных от несанкционированного доступа, использования или раскрытия.
                li.modal-item Куки и отслеживание: Наш сайт может использовать файлы "куки" для анализа трафика и улучшения пользовательского опыта. Вы можете изменить настройки браузера, чтобы отказаться от использования файлов "куки", если хотите.
                li.modal-item Сторонние сервисы: Мы можем иногда использовать сторонние сервисы, которые могут иметь свои собственные политики конфиденциальности. Мы не несем ответственности за контент или практики этих сторонних сайтов.
                li.modal-item Изменения в политике: Мы можем время от времени обновлять нашу политику конфиденциальности. В случае внесения значительных изменений мы уведомим вас на нашем сайте.
                li.modal-item Ваше согласие: Используя наш сайт, вы выражаете свое согласие с этой политикой конфиденциальности.
            p Если у вас возникнут вопросы или потребуется дополнительная информация о нашей политике конфиденциальности, пожалуйста, свяжитесь с нами через указанные контакты. Спасибо за доверие и использование нашего сайта!